@import "./../../styles/utils/vars.scss";
@import "./../../styles/utils/mixins.scss";

.pagination {
  color: $mainAccentColor;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
