{
    "parser": "babel-eslint",
    "rules": {
        "max-len": [1, 120, 2, {"ignoreComments": true}],
        "semi": ["error", "always"],
        "quotes": ["error", "double"],
        "class-methods-use-this": [2, { "exceptMethods": [
            "componentDidMount",
            "componentDidUpdate",
            "render",
            "shouldComponentUpdate",
            "constructor"
                ]
            }
        ]
    },
    "extends": [
        "airbnb-base",
        "plugin:flowtype/recommended",
        "plugin:react/recommended"
    ],
    "plugins": [
        "flowtype"
    ],
    "env": {
        "browser": true,
        "es6": true
    }
}