body {
  height: 100%;
  color: aquamarine;
}

footer {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
}

header {
  flex: 0 0 auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}