@import "./../../styles/utils/vars.scss";
@import "./../../styles/utils/mixins.scss";

.notFound {
  display: flex;
  width: 100%;
  height: 100%;
  color: $mainAccentColor;
  font-size: rem(24);
  h1 {
    margin: auto;
    text-align: center;
  }
}
