@import "utils/reset";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  @include size(100%);

  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  height: 100%;
  font-family: $mainFont;
  font-family: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $mainBgcColor;
}

footer {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
}

header {
  flex: 0 0 auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

// section,
// .section {
//   position: relative;
//   padding: 40px 0;
//   @media screen and (max-width: $desktopWidth) {
//     padding: 36px 0;
//   }
//   @media screen and (max-width: $desktopWidth) {
//     padding: 28px 0;
//   }
//   @media screen and (max-width: $desktopWidth) {
//     padding: 20px 0;
//   }
// }

// .wrapper {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
//   margin: 0 auto;
// }

// .content-wrapper {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

// .container {
//   width: 100%;
//   flex: 0 0 auto;
//   position: relative;
//   max-width: $desktopWidth;
//   margin: 0 auto;
//   @media screen and (max-width: $smDesktopWidth) {
//     max-width: tableWidth;
//   }
//   @media screen and (max-width: $tableWidth) {
//     max-width: phoneWidth;
//   }
//   @media screen and (max-width: $phoneWidth) {
//     max-width: smPhoneWidth;
//   }
// }
