@import "./../../styles/utils/vars.scss";
@import "./../../styles/utils/mixins.scss";

.noFilms {
    @include size(100%, 100%);
    margin: 0 auto;
    display: flex;
    font-size: rem(24);

  h1 {
      margin: auto;
  }
}

.hidden {
    display: none;
}


