@import "./../styles/utils/vars.scss";
@import "./../styles/utils/mixins.scss";

footer {
  @include size(100%, 70px);
  background-color: $mainAccentColor;
  margin: 0 auto;
  text-align: center;
}

.footer-wrapper {
  width: 80%;
  margin: 0 auto;
}
