@import "./../../styles/utils/vars.scss";
@import "./../../styles/utils/mixins.scss";

.description {
  @include size(100%, 430px);
  background-color: $mainAccentColor;
  text-align: center;
  margin-bottom: 15px;

  .bgc-fill {
    @include size(100%);
    position: absolute;
    z-index: 8;
    top: 0;
    left: 0;
    background-color: $mainAccentColor;
    opacity: 0.7;
  }
}

.description-wrapper {
  @include size(80%, 100%);
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  .image-bgc {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
  }

  .description-card {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 20;

    img {
      max-width: 200px;
      z-index: 20;
    }

    h1 {
      font-size: 28px;
    }
  }

  .description-content {
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .average-circle {
      @include size(40px);
      border: 1px solid $mainContrAccentColor;
      border-radius: 50%;
      display: flex;

      span {
        margin: auto;
      }
    }

    .title-average,
    .year-and-runtime {
      width: 85%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 10px;
    }
  }
}
